// Almost all of the styling is done with Tachyons!

// Tachyons overrides
$sans-serif: -apple-system, BlinkMacSystemFont, roboto, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, noto, 'segoe ui', arial, sans-serif

// Note: don't forget to run `npm install tachyons-sass`
@import 'node_modules/tachyons-sass/tachyons.scss'

body
    // This is an experimental property only supported by Safari and Edge for now
    // https://caniuse.com/#search=backdrop-filter
    backdrop-filter: blur(10px) brightness(60%)

img
    object-fit: contain
