doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= title
		link(rel="stylesheet" href=(environment == 'production' ? '/now-playing/css/main.css' : '/css/main.css'))
	body.tc.sans-serif.vh-100.w-100.dt.white.f2.bg-gray.cover.bg-center.pa4
		div.dtc.v-mid
			!= yield
		script(src=(environment == 'production' ? '/now-playing/js/main.js' : '/js/main.js'))
